@media (min-width:1281px) and (max-width:1920px){
    .nav_bar_ui_container{
        gap: 10%;
    }
}

@media (max-width:1024px){
    .nav_bar_ui_container{
        gap: 10px;
        flex-wrap: wrap;
    }
    .nav_bar_ui_right{
        gap: 5px;
        justify-content: space-evenly;
    }
    .nav_bar_ui_left{
        gap: 5px;
        justify-content: space-evenly;
    }
}

@media (max-width:480px){
    .nav_bar_ui_container{
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: start;
        width: 90%;
    }
    .nav_bar_ui_right{
        gap: 10px;
        flex-direction: column;
        align-items: start;
        padding: 0;
    }
    .nav_bar_ui_left{
        gap: 10px;
        justify-content: space-between;
        width: 90%;
    }
    .search-container{
        width: 90%;
    }
    .search-container > input{
       width: 90%;
    }

}


